/*@media screen and (max-width: 768px) {
  #about {
    font-size:200%;
  }
}*/

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: 400;
  margin-left: 30px;
  margin-top: 30px;
  color:#9ba8c9;
  position: absolute;
}

h2 {
  font-family: 'Oswald', sans-serif;
  color:#9ba8c9;
  margin-top: 60px;
  font-size: 36px;
  text-decoration: underline;
}

h5 {
  color:#9ba8c9;
}

.col-sm-6, .col-xs-12 {
  padding-right: 0px;
  padding-left: 0px
}

.col-sm-4 {
	margin-bottom: 30px;
}


a {
  margin: 10px;
}

a:hover {
  background-color: transparent !important;
}

img {
  width:100%;
  border: 1px solid lightgray;
}

#main-page, #work {
  height: 100vh;
}

#links {
  float: right;
  margin-top: 30px;
  margin-right: 40px;
}

#links a {
  font-family: 'Oswald', sans-serif;
  color:#9ba8c9;
  text-decoration: none;
  font-size: 16px;
  padding: 0px;
}


#header {
  margin-bottom: 50px;
}

#hello, #find-me {
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
  color:#9ba8c9;
}

#blurb {
  font-size: 25px;
}

#social-media a i:hover {
  text-decoration: none;
  color:#446bce;
}

#social-media {
  font-size: 30px;
}



#about {
  top:20%;
  font-family: 'Abril Fatface', cursive;
  font-size:35px;
  color:#9ba8c9;
  padding-left: 15px;
}

#blue {
  color:#446bce;
}


.projects {
  margin-top: 50px;
}



.card {
  /*border: 1px solid lightgray;*/
}

.card-title {
  font-family: 'Oswald', sans-serif;
  color:#9ba8c9;
  margin-left: 10px;
}

.card-title:hover {
  color:#446bce;
  text-decoration: none !important;
}

.card-block p {
  margin-top: 20px;
}

.card-link {
  font-family: 'Dosis', sans-serif;
  color: black;
}

.card-link:hover {
  color:#446bce;
  text-decoration: none !important;
}



/* Footer */

#footer {
	margin-top: 450px;
	left: 0;
	bottom: 0;
	width: 100%;
}

#footer a {
  color:#9ba8c9;
}

#footer a:hover {
  color:#446bce;
}

#rights {
  margin-top: 15px;
  margin-bottom: 30px;
  color:#9ba8c9;
}
